[submodule "blog"]
	path = blog
	url = git@github.com:thor314/blog.git
[submodule "pebble-stark"]
	path = pebble-stark
	url = git@github.com:thor314/pebble-stark.git
[submodule "obsidian-setup"]
	path = obsidian-setup
	url = https://github.com/thor314/obsidian-setup
[submodule "tmpl"]
	path = tmpl
	url = https://github.com/thor314/tmpl
