[submodule "blog"]
	path = blog
	url = git@github.com:thor314/blog.git
[submodule "pebble-stark"]
	path = pebble-stark
	url = git@github.com:thor314/pebble-stark.git
[submodule "tmpl"]
	path = tmpl
	url = git@github.com:thor314/tmpl.git
[submodule "obsidian-setup"]
	path = obsidian-setup
	url = git@github.com:thor314/obsidian-setup.git
